$background-color: #FFFAD5;

$paginator-text-color: #342;
$paginator-active-page-color: #ff4563;

$sidebar-background-color: #DB9E36;
$sidebar-menu-color: #105B63;

$header-background-color: #105B63;
$header-text-color: #FFFAD5;
$header-height: 100px;