{
  "parserOptions": {
      "ecmaVersion": 7,
      "sourceType": "module",
      "ecmaFeatures": {
          "jsx": true,
          "experimentalObjectRestSpread": true
      }
  },
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true
  },
  "globals": {
    "document": true,
    "require": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "rules": {
    "comma-dangle" : 0,
    "no-console": 0,
    "no-unused-vars": 0
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "0.14.8"
    }
  }
}